<%= form_for(@todo_list_web) do |f| %>
  <% if @todo_list_web.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_list_web.errors.count, "error") %> prohibited this todo_list_web from being saved:</h2>

      <ul>
      <% @todo_list_web.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label :DueDate %>
    <%= f.datetime_field :date %>
  </div>
  
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
