<% @todo_list_webs.each do |todo_list_web| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_web_title"><%= link_to todo_list_web.title, todo_list_web %></h2>
    <br></br>
    <p class="todo_list_web_sub_title"><%= todo_list_web.description %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "New Todo List", new_todo_list_web_path %>
</div>