<p id="notice"><%= notice %></p>

<h2 class="todo_list_web_title"><%= @todo_list_web.title %></h2>
<br></br>
<p class="todo_list_web_sub_title"><%= @todo_list_web.description %></p>
<p class="todo_list_web_sub_title"><%= @todo_list_web.date %></p>



<div class="links">
	<%= link_to 'Edit', edit_todo_list_web_path(@todo_list_web) %> |
	<%= link_to 'Delete', todo_list_web_path(@todo_list_web), method: :delete, data: { confirm: "Are you sure?" } %> |
  <%= link_to 'Back', todo_list_webs_path %>
</div>