<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div style="padding:15px;width: 100%;background-color:#99CC00;clear: left;">
      <table style="width:50%">
  
  <tbody><tr>
    <td style="color:black;font-size:300%;">TodoListApp</td>
    <td><a href="https://aboa.herokuapp.com/todo_list_webs/new">New Todo</a></td>
    <td><a href="https://aboa.herokuapp.com/todo_list_webs">Show TodoList</a></td>
  </tr>
</tbody></table>
      
      
    </div>
    
   <div class="container">
	<%= yield %>
</div>
  </body>
</html>
